<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/newalbum.css">

<div class="banner">
  <img src="https://i.ibb.co/Fq0mGrS/Screenshot-2024-02-14-at-12-26-24-PM.png" alt="banner">
</div>

<form action="/albums" method="POST" enctype="multipart/form-data">
  <label>Title:</label>
  <input type="text" placeholder="Enter Album's Title" name="title">
  <label>Artist:</label>
  <select name="artist">
    <% artists.forEach((artist) => { %>
      <option value="<%= artist._id %>"><%= artist.name %></option> 
    <% }); %>
  </select>
  <label>Release Year:</label>
  <input type="text" placeholder="YYYY" name="releaseYear">
  <label>Genre:</label>
  <input type="text" placeholder="Enter Album's Genre" name="genre">
  <label>Link:</label>
  <input type="text" placeholder="Enter Album's Link on Spotify" name="link">
  <label for="image">Image: </label>
  <input type="file" name="image" id="imgInput" required>
  <input type="submit" value="Add Album">

</form>

<%- include('../partials/footer') %>
