<%- include('../partials/header') %>

<form action="/albums" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Artist:</label>
  <!-- <input type="text" name="artist"> -->
  <select name="artist">
    <% artists.forEach((artist) => { %>
      <option value="<%= artist._id %>"><%= artist.name %></option> 
    <% }); %>
  </select>
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>Genre:</label>
  <input type="text" name="genre">
  <label>Link:</label>
  <input type="text" name="link">
  <input type="submit" value="Add Album">
</form>

<%- include('../partials/footer') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const albumMenu = document.querySelector('.album-menu');
    const addAlbumItem = document.createElement('a');
    addAlbumItem.textContent = 'Add Album';
    addAlbumItem.href = '/albums/new';
    addAlbumItem.style.display = 'none'; // Initially hide the 'Add Album' option

    albumMenu.appendChild(addAlbumItem);

    albumMenu.addEventListener('mouseover', function() {
      addAlbumItem.style.display = 'block'; // Show 'Add Album' option on hover
    });

    albumMenu.addEventListener('mouseout', function() {
      addAlbumItem.style.display = 'none'; // Hide 'Add Album' option on mouseout
    });
  });
</script>
