<%- include('../partials/header') %>

<section>
  <h2>User Profile - <%= user.name %> </h2>
  <h3>Liked Songs</h3>
  <% if (user.likedSongs.length) { %>
      <% user.likedSongs.forEach((song) => { %>
          <h4><%= song %></h4>
      <% }); %>
  <% } else { %>
    <p>No liked songs yet.</p>
  <% } %>
</section>

<%- include('../partials/footer') %>
