<%- include('../partials/header') %>

<section>
  <h2>User Profile - <%= user.name %> </h2>
  <h3><strong>Liked Songs:</strong></h3>
  <% if (user.likedSongs.length) { %>
      <% user.likedSongs.forEach((song) => { %>
          <p><%= song %></p>
      <% }); %>
  <% } else { %>
    <p>No liked songs yet.</p>
  <% } %>
</section>

<%- include('../partials/footer') %>
