<%- include('./partials/header') %>
<section>
    <h2>Credits: </h2>
    <p>Software Engineering Immersive Program (SEI-08)- General Assembly</p>
    <a href="https://uiverse.io/inputs">For inputs style</a>
    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Flexboxes and Grids styling</a>
</section>
<%- include('./partials/footer') %>