<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/artistsindex.css">

<div class="banner">
  <img src="https://i.ibb.co/dgSdfKK/Screenshot-2024-02-14-at-11-47-53-AM.png" alt="banner">
</div>

<div class="artist-list-container"> 
  <% artists.forEach(artist => { %> 
    <div class="artist-card"> 
      <a href="/albums/artists/<%= artist._id %>/albums" class="artist-link"> 
        <h2 class="artist-name"><%= artist.name %></h2> 
      </a>
    </div> 
  <% }) %> 
</div> 
<%- include('../partials/footer') %>
