<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/artists.css">

<div class="banner">
  <img src="https://i.ibb.co/GprCwQ1/Screenshot-2024-02-14-at-12-11-24-PM.png" alt="banner">
</div>

<section id="badge-container">
  <% artists.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-artist-form" action="/artists" method="POST">
  <label>Name:</label>
  <input type="text" placeholder="Type Artist's Name" name="name">
  <input type="submit" value="Add Artist">
</form>

<%- include('../partials/footer') %>
