<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/artists.css">

<div>Before adding, please ensure that the Artist is not in the following list:</div>
<section id="badge-container">
  <% artists.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-artist-form" action="/artists" method="POST">
  <label>Name:</label>
  <input type="text" placeholder="Type Artist's Name" name="name">
  <input type="submit" value="Add Artist">
</form>

<%- include('../partials/footer') %>
