<%- include('../partials/header') %>

<div>Before adding, please ensure that the Performer is not in the following list:</div>
<section id="badge-container">
  <% artists.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section>

<form id="add-artist-form" action="/artists" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Artist">
</form>

<%- include('../partials/footer') %>
