<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>
    <div class="footer-content">
        <p>&copy; 2024 Melody. All rights reserved to the Harmony group.</p>
    </div>
</footer>
</body>
</html>