<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/post.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://i.imgur.com/opLJj05.png" alt="Logo">
        </div>
        <div class="menu-items">
            <div class="divider"></div>
            <div class="album-menu"> 
                ALBUMS 
                <div class="submenu">
                    <a href="/albums/new">Add Album</a>
                    <a href="/albums">Show All</a>
                </div>
            </div>
            <% if (user) { %>
                <div class="divider"></div>
                <a href="/posts">POSTS</a>
                <div class="divider"></div>
                <!-- Remove the "Add Albums" link from here -->

                <div class="album-menu"> 
                    ARTISTS 
                    <div class="submenu">
                        <a href="/artists">ARTISTS</a>
                        <a href="/artists/new">ADD ARTISTS</a>
                    </div>
                    </div>


                
                <div class="divider"></div>
                <a href="/logout">LOG OUT</a>
            <% } else { %>
                <div class="divider"></div>
                <a href="/auth/google">LOG IN&nbsp;</a>
            <% } %>
        </div>
        <div class="divider"></div>
    </nav>
    <div style="height: 20px; background-color: #000;"></div>
</body>
</html>
