<%- include('../partials/header') %>

<form action="/posts"  method="POST">
<input type="text" name="poster" >
<button type="submit">POST</button>
</form>

<% posts.forEach(post => { %> 

<div> <%= post.poster %></div>

  <% }) %>

  
<%- include('../partials/footer') %>
