body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafdff;
  color: #211423;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6aec8;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  width: 80%;
}

nav .logo img {
  max-width: 9%;
  height: auto;
}

nav .menu-items {
  display: flex;
  align-items: center;
  color: #211423;
  font-weight: bold;
  margin-left: auto;
}

nav .menu-items :hover {
  color: #5e3193;
}

nav .menu-items a {
  margin: 0 10px;
  text-decoration: none;
  color: #211423;
  font-weight: bold;
  transition: color 0.3s;
}

nav .menu-items a:hover {
  color: #5e3193;
}

nav .divider {
  width: 2px;
  height: 20px;
  background-color: #211423;
  margin: 0 10px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#list {
  margin-top: 30px;
  border-collapse: collapse;
  width: 80%;
}

#list th,
#list td {
  border: 1px solid #211423;
  padding: 8px;
  text-align: center;
}

#list th {
  background-color: #5e3193;
  color: #fafdff;
}

#list td a {
  color: #211423;
  text-decoration: none;
  font-weight: bold;
}

#list td a:hover {
  color: #c6aec8;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.album-menu:hover .submenu {
  display: block;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5%;
}

.banner video,
.banner img {
  display: block;
  width: 50%;
  height: auto;
}

.banner video {
  object-fit: cover;
}
