/* General Section Styles */
section {
  background-color: #fafdff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}

/* Avatar Styles */
section img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Poster Text Styles */
.poster-text {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.2em;
  color: #211423; /* Adjusted text color */
  background-color: #c6aec8;
  padding: 10px;
  border-radius: 5px;
  line-height: 2;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  color: #14171a; /* Adjusted text color */
}

.time-ago {
  font-size: 12px;
  color: #707e88; /* Adjusted text color */
}

/* Edit and Delete Button Styles */
.edit-delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-button,
.edit-link {
  color: #5e3193; /* Adjusted link color */
  font-weight: bold;
  text-decoration: none;
}

.delete-button:hover,
.edit-link:hover {
  text-decoration: underline;
}

/* Like Button Styles */
.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-button svg {
  width: 20px;
  height: 20px;
  fill: #8899a6; /* Adjusted like button color */
  margin-right: 5px;
}

.like-button .liked {
  fill: #c52564; /* Adjusted liked color */
}

/* Comment Section Styles */
.comment-section {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.comment-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

.comment-content .username {
  font-weight: bold;
  color: #14171a; /* Adjusted text color */
}

.comment-content .comment-text {
  margin: 5px 0;
  color: #14171a; /* Adjusted text color */
}

.comment-content .time-ago {
  font-size: 12px;
  color: #707e88; /* Adjusted text color */
}

/* Comment Input Styles */
.comment-input {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 9999px;
  margin-right: 10px;
}

/* Comment Button Styles */
.comment-button {
  background-color: #64b5b4; /* Adjusted button color */
  color: #fafdff; /* Adjusted button text color */
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 15px;
}

.comment-button:hover {
  background-color: #5e3193; /* Adjusted button hover color */
}

/* Post Input Styles */
.post-input {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 5px; /* Adjusted border radius */
  margin-bottom: 10px; /* Added margin bottom for spacing */
  color: #14171a; /* Adjusted text color */
}

/* Post Button Styles */
#post-button {
  background-color: #5e3193; /* Adjusted button color */
  color: #fafdff; /* Adjusted button text color */
  border: none;
  border-radius: 5px; /* Adjusted border radius */
  cursor: pointer;
  padding: 10px 15px;
  font-weight: bold;
}

#post-button:hover {
  background-color: #211423; /* Adjusted button hover color */
}
