section {
  background-color: #fafdff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}

section img.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.poster-text {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.2em;
  color: #211423;
  background-color: #c6aec8;
  padding: 10px;
  border-radius: 5px;
  line-height: 2;
}

.username {
  font-weight: bold;
  margin-right: 10px;
  color: #14171a;
}

.time-ago {
  font-size: 12px;
  color: #707e88;
}

.edit-delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-button,
.edit-link {
  color: #5e3193;
  font-weight: bold;
  text-decoration: none;
}

.delete-button:hover,
.edit-link:hover {
  text-decoration: underline;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-button svg {
  width: 20px;
  height: 20px;
  fill: #8899a6;
  margin-right: 5px;
}

.like-button .liked {
  fill: #c52564;
}

.comment-section {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.comment-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
}

.comment-content .username {
  font-weight: bold;
  color: #14171a;
}

.comment-content .comment-text {
  margin: 5px 0;
  color: #14171a;
}

.comment-content .time-ago {
  font-size: 12px;
  color: #707e88;
}

.comment-input {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 9999px;
  margin-right: 10px;
}

.comment-button {
  background-color: #5e3193;
  color: #fafdff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 15px;
}

.comment-button:hover {
  background-color: #5e3193;
}
.post-form-container {
  display: flex;
  justify-content: center; /* Center the form horizontally */
  margin-bottom: 20px;
}

.post-input {
  width: 670px; /* Set the width as desired */
  height: 70px;
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 10px 0 0 10px;
  color: #14171a;
  font-size: x-large;
  text-align: center;
}

#post-button {
  background-color: #5e3193;
  color: #fafdff;
  border: 1px solid #e1e8ed;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  height: 90px;
}

#post-button:hover {
  background-color: #5e3193;
}
