body {
  font-family: Arial, sans-serif;
  color: #211423;
  margin: 0;
  padding: 0;
}

a {
  color: #5e3193;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.album-details {
  background-color: #fafdff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  font-size: larger;
}

.album-details .picture {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.album-details .picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album-details .details-right {
  margin-left: 20px;
}

.album-details .detail {
  display: flex;
  margin-bottom: 10px;
}

.album-details .label {
  font-weight: bold;
  margin-right: 10px;
}

.album-details .value {
  color: #211423;
}

.album-details .add-album-link {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.songs-section,
.reviews-section {
  background-color: #fafdff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.songs-section table {
  width: 100%;
  border-collapse: collapse;
}

.songs-section th,
.songs-section td {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  text-align: left;
}

.songs-section th {
  font-weight: bold;
}

button[type='submit'],
button {
  background-color: #5e3193;
  color: #fafdff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
}

button[type='submit']:hover,
button:hover {
  background-color: #211423;
}

.add-song-form {
  margin-top: 20px;
}

.add-song-form h2 {
  margin-bottom: 10px;
}

.add-song-form label {
  font-weight: bold;
}

.add-song-form input[type='text'] {
  width: calc(100% - 80px);
  padding: 8px;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
  margin-bottom: 10px;
}

.add-song-form button[type='submit'] {
  font-size: larger;
}

.reviews-section form {
  margin-bottom: 20px;
}

.reviews-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.reviews-section input,
.reviews-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

.reviews-section button {
  font-size: larger;
}

.reviews-section h3 {
  margin-bottom: 10px;
}

.reviews-section .review-list {
  list-style: none;
  padding: 0;
  color: #211423;
  font-size: larger;
  font-weight: bolder;
}

.reviews-section .review-list .review {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviews-section .review-list .review img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reviews-section .review-list .review-content {
  flex: 1;
}

.reviews-section .review-list .review-content p {
  margin: 0;
}

.reviews-section .review-list .username {
  font-weight: lighter;
  color: #14171a;
  font-size: smaller;
  font-family: monospace;
}

.admin-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.actions a,
.actions button {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.actions a.edit-link {
  background-color: #5e3193;
}

.actions a.edit-link:hover {
  background-color: #929fac;
  color: #fff;
  text-decoration: none;
}

.actions a.delete-button {
  background-color: #c74f4b;
}

.actions a.delete-button:hover {
  background-color: #929fac;
  color: #fff;
  text-decoration: none;
}

.songs-section table {
  width: 100%;
  border-collapse: collapse;
}

.songs-section table td:last-child {
  text-align: right;
}

.songs-section h5 {
  font-size: larger;
}

.reviews-section form {
  display: flex;
  align-items: center;
}

.reviews-section form label {
  margin-right: 10px;
}

.reviews-section form select {
  margin-right: 20px;
}
